* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(46, 52, 64, 0.8);
    /* A cor padrão para todo texto e ícone na barra */
    color: #ffffff; /* Branco */
}

/* Estilo para cada módulo - apenas espaçamento, sem cor */
#workspaces, #clock, #cpu, #memory, #temperature, #network, #bluetooth, #pulseaudio, #battery, #tray, #custom-power {
    padding: 0 10px;
    margin: 4px 0px;
}

#workspaces button {
    padding: 0 5px;
    /* Herda a cor branca do 'window#waybar' */
}

#workspaces button.active {
    background-color: #4c566a; /* Fundo cinza para o workspace ativo */
    border-radius: 8px;
}

/* Regras para quando o status é crítico, podem ter cor */
#temperature.critical {
    color: #bf616a; /* Vermelho para superaquecimento */
}

#battery.warning {
    color: #ebcb8b; /* Amarelo para bateria baixa */
}

#battery.critical {
    color: #bf616a; /* Vermelho para bateria crítica */
}
